---
layout: page
title: 大道至简
description: 李中凯的个人博客，主要分享软件开发方面的心得以及生活感悟。
keyword: 李中凯,大道至简,776966383,博客
tagline: 享受代码和生活
---
{% include JB/setup %}

{% for post in paginator.posts %}
<div class = "card">
		<div  class = "date_label">
			<div class="day_month">
      			{{ post.date | date:"%m/%d" }}
      			</div>
      			<div class="year">
      			{{ post.date | date:"%Y" }}
      			</div>
      		</div> 
		{{ post.content | split:'<!--break-->' | first }}
	<div class = "read_more">
		<a class="fa fa-link" href="{{ BASE_PATH }}{{ post.url }}">  查看全文&hellip;</a>
	</div>
	
</div>

{% endfor %}

<div id="pagination">
	<div class="pagenavi">
		<span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
		<a href="/">第一页</a>
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<a href="/" class="current"><<前一页</a>
			{% else %}
				<a href="/page{{paginator.previous_page}}"><<前一页</a>
			{% endif %}
		{% else %}
			<span><<前一页</span>
		{% endif %}
		{% for count in (2..paginator.total_pages) limit:8 %}
			{% if count == paginator.page %}
				<span class="current-page">{{count}}</span>
			{% else %}
				<a href="/page{{count}}">{{count}}</a>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<a href="/page{{paginator.next_page}}">后一页>></a>
		{% else %}
			<span>后一页>></span>
		{% endif %}
			<a href="/page{{paginator.total_pages}}">最后一页</a>
	</div>
</div>